/*********************
 * Grid panel styles
 */

/* GridPanel table styles */
.advanced-GridPanel {
    width: 100%;
    background-color: transparent;
}

/* GRidPanel top subpanel styles */
.advanced-GridPanel .top-panel {
    width: 100%;
}

/* GRidPanel bottom subpanel styles */
.advanced-GridPanel .bottom-panel {
    width: 100%;
}

/*********************
 * Pager styles
 */

/** main Pager panel styles */
.advanced-Pager {
    background-image: url(images/gradient.gif);
    background-repeat: repeat-x;
    padding: 0;
    height: 24px;
    width: 100%;
    border: 1 solid white;
    cursor: default;
}

/** links inside the Pager styles */
.advanced-Pager a {
    color: white;
    text-decoration: none;
}

/** nested table styles */
.advanced-Pager table {
    background-image: none;
    background-repeat: no-repeat;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: gold;
    text-align: center;
    vertical-align: middle;
    padding: 1px;
}

/** nested table cells styles */
.advanced-Pager td {
    width: 16px;
}

/** arrow images styles */
.advanced-Pager img {
    cursor: pointer;
}

/*********************
 * Grid toolbar styles
 */

/** main GridToolbar panel styles */
.advanced-GridToolbar {
    height: 24px;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    border: 1 solid white;
    padding: 0;
    background-image: url(images/gradient.gif);
    background-repeat: repeat-x;
}

/** toolbar button styles */
.advanced-GridToolbar-button {
    cursor: pointer;
    width: 18px;
    padding: 1px;
    text-align: center;
    vertical-align: middle;
    display: inline;
}

/** toolbar selected (on mouse over) button styles */
.advanced-GridToolbar-button-up-hovering {
    background-color: #1774D5;
}

/** invisible button separator image styles */
.advanced-GridToolbar-button-separator {
    width: 4px;
}

/*********************
 * Grid styles
 */

/** main flex table styles */
.advanced-Grid {
    width: 100%;
    border-collapse: collapse;
    padding: 2px 2px 2px 2px;
}

/** flex table cells styles */
.advanced-Grid td {
    border-bottom: 1px solid lightgray;
}

/** flex table header styles */
.advanced-Grid thead {
    background: white;
}

/** flex table head cells styles */
.advanced-Grid th {
    height: 24px;
    padding-right: 2px;
    padding-bottom: 1px;
    width: 1%;
}

/** data cells nested panel styles (if editable) */
.advanced-Grid .editable-cell {
    cursor: pointer;
}

/** data cells nested panel styles (if readonly) */
.advanced-Grid .readonly-cell {
    cursor: default;
}

/** header cells nested panel styles */
.advanced-Grid .header-cell {
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 1px 1px 1px 1px;
    background-image: url(images/gradient.gif);
    background-repeat: repeat-x;
}

/** header cells nested panel table styles */
.advanced-Grid .header-cell table {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    height: 100%;
    width: 100%;
}

/** header cells nested panel table styles */
.advanced-Grid .header-cell td {
    text-align: center;
    height: 100%;
    border-bottom: 0;
}

/** header sortable cells nested panel styles */
.advanced-Grid .sortable-header {
    cursor: pointer;
}

/** header non-sortable cells nested panel styles */
.advanced-Grid .non-sortable-header {
    cursor: default;
}

/** grid selected row styles */
.advanced-Grid .selected-row {
    background-color: lightgoldenrodyellow;
}

/** grid column styles */
.advanced-Grid .grid-column {
    width: 1%;
}

/** data cell nested panel styles */
.advanced-Grid .data-cell {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: black;
}

/** data cell nested panel styles (if active) */
.advanced-Grid .active-cell {
    background-color: lightblue;
    border: 1px dashed darkgray;
}

/** input controls styles */
.advanced-Grid .active-cell input {
    width: 100%;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: normal;
    border: 0;
}

/** select box controls styles */
.advanced-Grid .active-cell select {
    width: 100%;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: normal;
    border: 0;
}

/** data cell nested panel styles (if passive) */
.advanced-Grid .passive-cell {
    background-color: transparent;
    border: 0;
}

/** textual cell additional styles */
.advanced-Grid .text-cell {
    text-align: left;
    vertical-align: top;
    white-space: normal;
}

/** textual cell additional styles */
.advanced-Grid .text-cell div {
    white-space: normal;
}

/** numeric cell additional styles */
.advanced-Grid .numeric-cell {
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
}

/** numeric cell additional styles */
.advanced-Grid .numeric-cell div {
    white-space: nowrap;
}

/** list cell additional styles */
.advanced-Grid .list-cell {
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
}

/** list cell additional styles */
.advanced-Grid .list-cell div {
    white-space: nowrap;
}

/** image cell additional styles */
.advanced-Grid .image-cell {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

/** boolean cell additional styles */
.advanced-Grid .boolean-cell {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

/** date cell additional styles */
.advanced-Grid .date-cell {
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
}

/** date cell additional styles */
.advanced-Grid .date-cell div {
    white-space: nowrap;
}

/*********************
 * Subgrid styles
 */

/** expandable cell styles */
.advanced-Grid .expandable-cell table {
    width: 100%;
}

/** expandable cell styles */
.advanced-Grid .expandable-cell td {
    border-bottom: 0;
}

/** subgrid row styles */
.advanced-Grid .subgrid-row td {
    border-bottom: 0;
}

/** subgrid cell styles */
.advanced-Grid .subgrid-cell {
    padding-left: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}

/*********************
 * Locking panel
 */

/** locking panel styles */
.advanced-LockingPanel {
    background-color: white;
    filter: alpha(opacity=65);
    -moz-opacity: 0.65;
    opacity: 0.65;
}

/*********************
 * Calendar widget styles
 */

/** calendar panel styles */
.advanced-Calendar {
    background-color: white;
}

/** calendar layout flex table styles */
.advanced-Calendar .layout-table {
    border: 1px solid lightgray;
    font-family: sans-serif;
    font-size: 10px;
    cursor: default;
    padding: 0;
    border-collapse: collapse;
    width: 200px;
}

/** layout cells styles */
.advanced-Calendar .layout-table td {
    vertical-align: middle;
    padding: 1px;
}

/** button cell styles */
.advanced-Calendar .switch-cell {
    width: 18px;
    text-align: center;
}

/** today button cell styles */
.advanced-Calendar .today-button-cell {
    width: 126px;
    text-align: center;
}

/** header cell styles */
.advanced-Calendar .header-cell {
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 1px 1px 1px 1px;
    background-image: url(images/gradient.gif);
    background-repeat: repeat-x;
}

/** small button styles */
.advanced-Calendar .switch-button {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: black;
    padding: 1px 1px 1px 1px;
    background-color: gainsboro;
    border: 1px solid darkgray;
    cursor: pointer;
    width: 18px;
}

/** today button styles */
.advanced-Calendar .today-button {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: black;
    padding: 1px 1px 1px 1px;
    background-color: gainsboro;
    border: 1px solid darkgray;
    cursor: pointer;
    width: 126px;
}

/** days flex table styles */
.advanced-Calendar .days-table {
    font-family: sans-serif;
    font-size: 10px;
    width: 100%;
    padding: 1px;
    border-collapse: collapse;
}

/** week days header cell styles */
.advanced-Calendar .week-day-cell {
    background-color: gainsboro;
    text-align: center;
    vertical-align: middle;
    width: 14%;
}

/** week number column cell styles */
.advanced-Calendar .week-number-cell {
    background-color: gainsboro;
    text-align: right;
    vertical-align: middle;
    width: 0;
}

/** day cell styles */
.advanced-Calendar .day-cell {
    text-align: right;
    vertical-align: middle;
    color: black;
    cursor: pointer;
}

/** today cell styles */
.advanced-Calendar .today-cell {
    border: 1px dashed lightgray;
}

/** selected day styles */
.advanced-Calendar .selected-day-cell {
    font-weight: bold;
    background-color: lightgoldenrodyellow;
    cursor: default;
    border: 1px solid lightgray;
}

/** holiday cell styles */
.advanced-Calendar .holiday-cell {
    color: red;
}

/** neighbour month day cell styles */
.advanced-Calendar .disabled-day-cell {
    text-align: right;
    vertical-align: middle;
    color: darkgray;
}

/** time cell styles */
.advanced-Calendar .time-cell {
    text-align: center;
    border-collapse: collapse;
}

/** time table styles */
.advanced-Calendar .time-table {
    font-family: sans-serif;
    font-size: 10px;
    padding: 0;
    border-collapse: collapse;
    display: inline;
}

/** select box of the time section styles */
.advanced-Calendar select {
    font-family: sans-serif;
    font-size: 10px;
    width: 45px;
    border: 1px solid darkgray;
}

/** date picker component styles */
.advanced-DatePicker {
}

/*********************
 * Master-details panel styles
 */

/** main panel style */
.advanced-masterDetailPanel {
    width: 100%;
    border: 0;
    padding: 0;
}

/** panel cell style */
.advanced-masterDetailPanel .gridPanel-cell {
    width: 100%;
    padding: 0;
}

/** grid panel layout style */
.advanced-masterDetailPanel .grid-panel-layout {
    width: 100%;
    border: 0;
    padding: 0;
}

/** caption cell styles */
.advanced-masterDetailPanel .grid-panel-layout .layout-caption {
    width: 100%;
    padding: 0;
}

/** caption label styles */
.advanced-masterDetailPanel .grid-panel-layout .layout-caption div {
    width: 100%;
    background-color: lightgoldenrodyellow;
    padding: 1px;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: default;
    border: 0;
}

/** layout body styles */
.advanced-masterDetailPanel .grid-panel-layout .layout-body {
    width: 100%;
    padding: 0;
}

/*********************
 * Combo box, suggestion box and date picker styles
 */

/** main combo box style */
.advanced-TextButtonPanel {
    border: 1px;
    padding: 0;
}

/** layout styles */
.advanced-TextButtonPanel table {
    border: 0;
    padding: 0;
    border-collapse: collapse;
}

/** common layout cell styles */
.advanced-TextButtonPanel td {
    border: 1px solid darkgray;
    padding: 0;
    vertical-align: middle;
}

/** text box styles */
.advanced-TextButtonPanel .selected-value {
    border: 1px solid white;
    font-family: sans-serif;
    font-size: 10px;
    color: black;
}

/** selected text box style */
.advanced-TextButtonPanel .selected-row {
     background-color: lightgoldenrodyellow;
}

/** button styles */
.advanced-TextButtonPanel .choice-button-up {
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-color: gainsboro;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    padding: 0;
}

/** button styles */
.advanced-TextButtonPanel .choice-button-up-hovering {
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-color: gainsboro;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    cursor: pointer;
    padding: 0;
}

/** button styles */
.advanced-TextButtonPanel .choice-button-down {
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-color: gainsboro;
    border: 1px solid darkgray;
    padding: 0;
}

/** button styles */
.advanced-TextButtonPanel .choice-button-down-hovering {
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-color: gainsboro;
    border: 1px solid darkgray;
    cursor: default;
    padding: 0;
}

/** button image styles */
.advanced-TextButtonPanel img {
    display: inline;
    border: 0;
}

/*********************
 * Additional Combo box styles
 */

/** popup panel styles */
.advanced-ListPopupPanel {
    border: 1px solid darkgray;
    background-color: white;
    padding: 0;
}

/** items list style */
.advanced-ListPopupPanel .list {
    border-collapse: collapse;
    padding: 0;
    cursor: pointer;
}

/** items list selected row style */
.advanced-ListPopupPanel .list .selected-row {
    background-color: lightgoldenrodyellow;
}

/** item style **/
.advanced-ListPopupPanel .list .item {
    padding: 1px;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: normal;
}

/** icon item image style **/
.advanced-ListPopupPanel .list .icon-item img {
    padding: 1px;
    border: 0;
}

/** icon item label style **/
.advanced-ListPopupPanel .list .icon-item div {
    padding: 1px;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: normal;
}